
body{
}

div{
    border-radius: 5px;
}

form{
    background-color: white;
}

a:hover{
    text-decoration: none;
}

a:active{
    color: lightgreen;
    text-decoration: none;
}

/****************************/
/***********导航栏***********/
/****************************/
.navbar{
    min-height: 50px;
}

.navbar-nav > li > a:hover{
    background: #99CC99;
}

.bg-dark{
    background-color: white!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: green;
}

.navbar-toggler{
    background-color: lightgray;
}

.u0{
    border-width: 0;
    left: 40px;
    top: 10px;
    width: 200px;
    height: 40px;
}

.u6{
    border-width: 0;
    left: 630px;
    top: 26px;
    width: 21px;
    height: 21px;
}

.btn{
    background-color: lightgray;
}

.btn-success{
    border-color: white;
}

.u10{
    width: 100%;
}

.registernow{
    background-color: #99CC99;
}

.registernow >a{
    color: white!important;
}

/****************************/
/************主体************/
/****************************/

.max_div{
    width: 90%;
    margin: auto;
}

.left_div{
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    height: 30vh;
}

.head_portrait{
    width: 100%;
    height: 100%;
    background-color: #99CC99;
}

.right_div{
    margin: 0;
    padding: 0;
    float: right;
    width: 72%;
}

.welcome{
    background-color: rgba(228,228,228,1);
    height: 18vh;
    width: 100%;
    position: relative;
}

._name{
    margin: 5px;
    padding: 5px;
    font-size: 28px;
    color: black;
    float: left;
    width: 30%;
    text-align: center;
}

._welcome{
    width: 65%;
    font-size: 14px;
    padding: 30px;
    float:left;
}

._bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
}

._bottom > ul > li{
    width: 18%;
    float: right;
    background-color: rgba(215,215,215,1);
    margin-left: 3px;
    text-align: center;
}

.active{
    margin-left: 5px;
}

._bottom > ul > li > a{
    font-size: 14px;
    color: black;
}


/****************************/
/*********个人首页***********/
/****************************/

.information{
    width: 90%;
    margin: 0 auto;
}

.first_row{
    padding-bottom: 50px;
    width: 100%;
    height: 30px;
}

.second_row{
    padding: 50px 0;
    width: 100%;
    height: 30px;
}

.friend_recent,.new_reply{
    font-size: 18px;
    color: #434343;
    font-weight: 700;
    float: left;
    width: 80px;
}

._img{
    height: 2px;
    width: 60%;
    float: left;
}

._img > img{
    height: 2px;
    width: 100%;
}

.get_more{
    font-size: 14px;
    float: right;
    width: 5%;
}

.specific{
    font-size: 14px;
}

/****************************/
/***********资料*************/
/****************************/
.information_row{
    width: 100%;
    height: 30px;
}

.one,.three{
    width: 15%;
    font-size: 14px;
    font-weight: normal;
}

.two,.four{
    width: 35%;
    font-size: 14px;
    font-weight: normal;
}

.introduction{
    padding-bottom: 10px;
}

.edit{
    margin: 10px 0;
    width: 60px;
    height: 30px;
    background-color: #99CC99;
    color: white;
    text-align: center;
}

/****************************/
/***********主题*************/
/****************************/
.theme{
    width: 90%;
    margin: 0 auto;
}

.u678{
    height: 2px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.post_width{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20px;
}

.post1,.post1_time{
    width: 50%;
    height: 20px;
    float: left;
    margin: 0;
    padding: 0;
}

.post1_reply_num,.post1_browse_num{
    width: 50%;
    height: 20px;
    float: right;
    margin: 0;
    padding: 0;
}

.post1>a> p>span{
    text-align: left;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: block;
}

.post1_reply_num> p>span{
    text-align: right;
    color: #949494;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: block;
}

.post1_time> p>span{
    text-align: left;
    color: #949494;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: block;
}

.post1_browse_num> p>span{
    text-align: right;
    color: #949494;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: block;
}

/****************************/
/***********回复*************/
/****************************/

.reply{
    width: 90%;
    margin: 0 auto;
}

/****************************/
/***********收藏*************/
/****************************/
.collect{
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

.collect_row{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0;
}

.collect_title{
    width: 64%;
    float: left;
    color: #434343;
    font-size: 14px;
}

.collect_author{
    width: 12%;
    float: left;
    color: #434343;
    font-size: 14px;
}

.collect_catalogue{
    width: 12%;
    float: left;
    color: #434343;
    font-size: 14px;
}

.collect_choice{
    width: 12%;
    float: left;
    font-size: 14px;
    text-align: center;
}

.collect_check_all{
    margin: 10px 0;
    padding: 0;
    float: left;
    width: 60px;
    height: 30px;
    background-color: #99CC99;
    color: white;
    text-align: center;
}

.collect_del{
    padding: 0;
    margin: 10px 0;
    float: right;
    width: 60px;
    height: 30px;
    background-color: #99CC99;
    color: white;
    text-align: center;
}

/****************************/
/***********好友*************/
/****************************/

.friend{
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

.friend_row{
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
}

.friend_portrait{
    width: 10%;
    float: left;
    color: #434343;
    font-size: 14px;
}

.friend_name{
    margin-left: 20px;
    width: 30%;
    float: left;
    color: #434343;
    font-size: 14px;
}

.friend_time{
    width: 30%;
    float: left;
    color: #434343;
    font-size: 14px;
}

.friend_choice{
    width: 30%;
    float: right;
    color: #434343;
    font-size: 14px;
    text-align: center;
}

.friend_check_all{
    margin: 20px 0;
    padding: 0;
    float: left;
    width: 60px;
    height: 30px;
    background-color: #99CC99;
    color: white;
    text-align: center;
}

.friend_del{
    padding: 0;
    margin: 20px 10px;
    float: left;
    width: 60px;
    height: 30px;
    background-color: #99CC99;
    color: white;
    text-align: center;
}

.verify_friend{
    padding: 0;
    margin: 20px 0;
    float: right;
    width: 100px;
    height: 30px;
    background-color: #99CC99;
    text-align: center;
}

.verify_friend > a{
    color: white;
    text-align: center;
}

/****************************/
/************消息************/
/****************************/

.message{
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

.message_row{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0;
}

.message_title{
    width: 50%;
    float: left;
    color: #434343;
    font-size: 14px;
}

.message_addresser{
    width: 10%;
    float: left;
    color: #434343;
    font-size: 14px;
}

.message_time{
    width: 20%;
    float: left;
    color: #434343;
    font-size: 14px;
}

.message_sort{
    width: 10%;
    float: left;
    color: #434343;
    font-size: 14px;
}

.message_choice{
    width: 10%;
    float: left;
    font-size: 14px;
    text-align: center;
}

.message_check_all{
    margin: 10px 0;
    padding: 0;
    float: left;
    width: 60px;
    height: 30px;
    background-color: #99CC99;
    color: white;
    text-align: center;
}

.message_del{
    padding: 0;
    margin: 10px 0;
    float: right;
    width: 60px;
    height: 30px;
    background-color: #99CC99;
    color: white;
    text-align: center;
}

.btn0{
    margin-top: 10px;
}

.btn1,.btn3{
    float: left;
}
.btn2,.btn4{
    float: right;
}

