body{
}

div{
    border-radius: 5px;
}

form{
    background-color: white;
}

a:hover{
    text-decoration: none;
}

a:active{
    color: lightgreen;
    text-decoration: none;
}

/****************************/
/***********导航栏***********/
/****************************/
.navbar{
    min-height: 50px;
}

.navbar-nav > li > a:hover{
    background: #99CC99;
}

.bg-dark{
    background-color: white!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: green;
}

.navbar-toggler{
    background-color: lightgray;
}

.u0{
    border-width: 0;
    left: 40px;
    top: 10px;
    width: 200px;
    height: 40px;
}

.u6{
    border-width: 0;
    left: 630px;
    top: 26px;
    width: 21px;
    height: 21px;
}

.btn{
    background-color: lightgray;
}

.btn-success{
    border-color: white;
}

.u10{
    width: 100%;
}

.registernow{
    background-color: #99CC99;
}

.registernow >a{
    color: white!important;
}

/****************************/
/************主体************/
/****************************/

.class_width{
    width: 90%;
    margin: auto;
}

.class_name{
    font-size: 25px;
    color: #999999;
    text-align: left;
}

.class_introduction{
    width: 100%;
    font-size: 13px;
    color: #999999;
    text-align: left;
    padding: 20px 10px;
}

.class_task,.teacher_task,.teach_online,.class_test{
    margin: 10px;
    width: 120px;
    height: 30px;
    font-size: 18px;
    background-color: #99CC99;
    color: white;
    text-align: center;
}

.task_details{
    width: 100%;
}

.task_name{
    padding-left: 20px;
    width: 60%;
    float: left;
    color: #999999;
    font-size: 13px;
}

.end_time1,.end_time2{
    color: #999999;
    font-size: 13px;
    width: 20%;
    float:left;
    text-align: center;
}

.class_img{
    width: 100%;
    margin: 10px;
}

.video_online{
    width: 100%;
}

.video_left{
    width: 20%;
    float: left;
}

.video_right{
    width: 80%;
    float: right;
}

.test_link{
    font-size: 18px;
    color: white;
    text-align: center;
}

.test_link:hover{
    color: white;
}
